/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{box-sizing: border-box; }
a{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
/*Modal*/
.modal{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);

}
.modal-wrapper{
	overflow: auto;
	background-color: white;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	width: 700px;
	height: 70%;
	padding: 20px;

}
.modal-button-container{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.modal-wrapper hr{
	margin: 65px;
}
.close-button {
	display: flex;
	justify-content: end;
}
.modal-switch-container {
	display: flex;
	justify-content: space-between;
}
.js-modal-back{
	background-color: white;
	border: none;
	font-size: 18px;
    font-weight: bold;
	cursor: pointer;
}
.js-modal-close{
	background-color: white;
	border: none;
	font-size: 18px;
    font-weight: bold;
	cursor: pointer;
}
.gallery-modal figcaption {
	display: none;
}
.image-container {
	position: relative;
	display: inline-block;
  }
  
  .image-container img {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .trash-icon {
	position: absolute;
	top: 5px; 
	right: 4px; 
	font-size: 10px;
	color: white; 
	cursor: pointer;
	background-color: black;
	border-radius: 25%;
	padding: 5px;
  }
/*CSS Ajout modal*/
.file-section{
	background-color:#E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.file-section input#file {
    display: none;
}
.fa-image{
	color: #b9c5cc;
	font-size: 50px;
	margin-top: 10px;
}
.file-section label {
	padding: 10px;
	border-radius: 25px;
	font-family: 'Syne';
	background-color: #CBD6DC;
	cursor: pointer;
	color: #306685;
	width: 60%;
	text-align: center;	
}
.file-section p {

}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
.edit {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}
.edit a{
	color: white;
	
}
.edit a:visited{
	color: white;
}
.edit-title{
	font-size: 50%;
    color: black;
    position: absolute;
    padding-left: 35px;
    line-height: 30px;
	cursor: pointer;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
h3{
	font-family: 'Work Sans';
	text-align: center;
	font-size: 18px;
	margin: 20px;
	font-weight: bold;
}
.add-photo-button {
	padding: 10px;
	border:1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	background-color: #1D6154;
	cursor: pointer;
	color: white;
	
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 3em;
}
/* on placera ici le css du javascript*/
.div-container{
	width: 65%;
	display: flex;
	justify-content: space-around;
	margin: 35px auto;
}
.div-container > * {
	padding: 10px;
	border:1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}
.div-container > *:hover{
	background-color: #1D6154;
	color: white;
}
.div-container > *.active {
    background-color: #1D6154;
    color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
.gallery-modal{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding: 40px;

}
.gallery-modal img {
	width: 100%;
}
.form {
	width: 50%;
margin: auto;
}
.form > * {
	text-align: center;

}
.form h2{
	margin-bottom: 20px;
}
.form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
	margin: 2em 0 1em 0;
}
.form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.error-login{
	background-color: red;
	color: white;
	display: flex;
	justify-content: center;
	padding: 10px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*login css */

.forgotten {
	display: flex;
	justify-content: center;

}

